.env
node_modules
cache
mnemonic.txt
pk.txt
deployments/localhost
typechain-types
build
.DS_Store 
out
cache

# Keep related abi
out/
!out/JBProjectHandles.sol/

# Keep the latest deployment only
broadcast/*/*
!broadcast/*/run-latest.json